---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<header>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  {% include menu-links.html %}
</div>

<!-- Use any element to open the sidenav -->
<span id="slid" onclick="openNav()"><i class="fa fa-align-left" aria-hidden="true"></i></span>
<a href="{{site.baseurl}}/"><h1 class="header-title">{{site.title}}<span class="c-aqua font-nitti tracked-terminal typewrite lh-solid dib-m" data-period="2000" data-type="[ &quot;currencies&quot;, &quot;securities&quot;, &quot;deposits&quot;, &quot;bonds&quot; ]"></span></a>
<h2 class="header-tagline">Because Life Should Be Always Open Source</h2>
</header>
<div id="main">




{{content}}



{% include footer.html %}

</div>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";    
}

</script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" type="text/css"> 
{% include analytics.html %}
</body>
</html>
